version: '3.8'

services:
  backend:
    build: 
      context: ./server
      dockerfile: Dockerfile
    platform: linux/arm64/v8
    container_name: inventory-backend
    ports:
      - "5002:5001"
    env_file:
      - ./server/.env  
    networks:
      - inventory-network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    platform: linux/arm64/v8
    container_name: inventory-frontend
    ports:
      - "3000:80"
    env_file:
      - ./client/.env  
    depends_on:
      - backend
    networks:
      - inventory-network

networks:
  inventory-network:
    driver: bridge